
<div class="content-adoption pb-5">
  <div class="content-tittle container pt-5">
    <div class="row">
      <h1 class="display-4 col-7">Si tu no lo haces feliz</h1>
      <div class="w-100 col-5 p-0"><hr class="hr-color-tittle"><hr class="hr-color-tittle"></div>
    </div>
    <div class="row">
      <div class="w-100 col-4 p-0"><hr class="hr-color-tittle"><hr class="hr-color-tittle"></div>
      <h1 class="display-4 ">Deja que alguien más lo hagá</h1>
    </div>
    <br>
    <div class="row">
      <div class="w-100 col-3 p-0"><hr class="hr-color-tittle"><hr class="hr-color-tittle"></div>
      <h1 class="display-4 col-6 text-center p-0">DA EN ADOPCION</h1>
      <div class="w-100 col-3 p-0"><hr class="hr-color-tittle"><hr class="hr-color-tittle"></div>
    </div>
  </div>
  <form class="font-weight-bold m-auto border-right border-bottom p-3 ">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="species">¿Que daras en adopcion?</label>
        <input type="text" class="form-control" id="species" placeholder="Perro, gato, pato, etc...">
      </div>
      <div class="form-group col-md-6">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="Nombre de la criatura de Dios ">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="raza">Raza</label>
        <input type="text" class="form-control" id="raza" placeholder="raza">
      </div>
      <div class="form-group col-md-3">
        <label for="dateBorn">Fecha de nacimiento</label>
        <input type="date" class="form-control" id="dateBorn" >
      </div>
      <div class="form-group col-md-6">
        <label for="description">Descripcion</label>
        <input type="text" class="form-control" id="description" placeholder="describelo">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="phot-pet">agrega una foto</label>
        <input type="file" class="form-control-file" id="phot-pet">
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Dar en Adopcion</button>
  </form>
</div>